h1,h2,h3,h4,h5,div,p,body,a,ol,ul,li,span,table,tr,td{margin: 0;padding: 0;font-family: 微软雅黑;}
ul,ol{list-style: none;}
a{text-decoration: none;color: black;}
ul{
    width: 400px;
    height: 300px;
    margin-left: 37%;
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 180px 100px;
}
img{
    justify-self: center;
    padding-top: 20px;
    width: 240px;
}
a{ font-size: 30px;
    justify-self: center;
    align-self: flex-start;
}